# Demo 01 -  Sakila Star Schema & ETL  

All the databases table in this demo are based on public database samples and transformations
- `Sakila` is a sample database created my `MySql` [Link](https://dev.mysql.com/doc/sakila/en/sakila-structure.html)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](http://archive.oreilly.com/oreillyschool/courses/dba3/index.html)

In [ ]:
#In case your envirnoment does not have the needed libraries
!pip install psycopg2-binary
!pip install ipython-sql
!pip install pandas

# STEP0: Using ipython-sql

- load ipython-sql: `%load_ext sql`

- To execute SQL queries you write one of the following atop of your cell: 
    - `%sql`
        - For a one-liner SQL query
        - You can access a python var suing `$`    
    - `%%sql`
        - For a multi-line SQL query
        - You can **NOT** access a python var suing `$`


- Running a connection string like:
`postgresql://postgres:postgres@db:5432/pagila` connects to the database

# STEP1 : Connect to the local database where Pagila is loaded

In [34]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [35]:
DB_ENDPOINT = "db"
DB = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = 'postgres'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:postgres@db:5432/pagila

In [36]:
%sql $conn_string

'Connected: postgres@pagila'

# STEP2 : Explore the  3NF Schema

<img src="./pagila-3nf.png"/>

## 2.1 How much? What data sizes are we looking at?

In [202]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;

print("nFilms\t\t=", nFilms[0][0])
print("nCustomers\t=", nCustomers[0][0])
print("nRentals\t=", nRentals[0][0])
print("nPayment\t=", nPayment[0][0])
print("nStaff\t\t=", nStaff[0][0])
print("nStores\t\t=", nStores[0][0])
print("nCities\t\t=", nCity[0][0])
print("nCountry\t\t=", nCountry[0][0])

 * postgresql://postgres:***@db:5432/pagila
1 rows affected.
 * postgresql://postgres:***@db:5432/pagila
1 rows affected.
 * postgresql://postgres:***@db:5432/pagila
1 rows affected.
 * postgresql://postgres:***@db:5432/pagila
1 rows affected.
 * postgresql://postgres:***@db:5432/pagila
1 rows affected.
 * postgresql://postgres:***@db:5432/pagila
1 rows affected.
 * postgresql://postgres:***@db:5432/pagila
1 rows affected.
 * postgresql://postgres:***@db:5432/pagila
1 rows affected.
nFilms		= 1000
nCustomers	= 599
nRentals	= 16044
nPayment	= 16049
nStaff		= 2
nStores		= 2
nCities		= 600
nCountry		= 109

## 2.2 When? What time period are we talking about?

In [134]:
%%sql 
select min(rental_date) as start, max(rental_date) as end from rental;

 * postgresql://postgres:***@db:5432/pagila
1 rows affected.

[(datetime.datetime(2005, 5, 24, 22, 53, 30, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2017, 2, 14, 15, 16, 3, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

## 2.3 Where? Where do events in this database occur?

In [136]:
%%sql
select district,  sum(city_id) as n
from address
group by district
order by n desc
limit 10 ;

 * postgresql://postgres:***@db:5432/pagila
10 rows affected.

[('Shandong', 3237),
 ('England', 2974),
 ('So Paulo', 2952),
 ('West Bengali', 2623),
 ('Buenos Aires', 2572),
 ('Uttar Pradesh', 2462),
 ('California', 2444),
 ('Southern Tagalog', 1931),
 ('Tamil Nadu', 1807),
 ('Hubei', 1790)]

# STEP3: Perform some simple data analysis

## 2.2 Insight 1:   Top Grossing Movies 
- Payments amounts are in table `payment`
- Movies are in table `film`
- They are not directly linked, `payment` refers to a `rental`, `rental` refers to an `inventory` item and `inventory` item refers to a `film`

### 2.2.1 Films

In [138]:
%%sql
select film_id, title, release_year, rental_rate, rating  from film limit 5;

 * postgresql://postgres:***@db:5432/pagila
5 rows affected.

[(1, 'ACADEMY DINOSAUR', 2006, Decimal('0.99'), 'PG'),
 (2, 'ACE GOLDFINGER', 2006, Decimal('4.99'), 'G'),
 (3, 'ADAPTATION HOLES', 2006, Decimal('2.99'), 'NC-17'),
 (4, 'AFFAIR PREJUDICE', 2006, Decimal('2.99'), 'G'),
 (5, 'AFRICAN EGG', 2006, Decimal('2.99'), 'G')]

### 2.2.2 Payments

In [38]:
%%sql
select * from payment limit 5;

 * postgresql://postgres:***@db:5432/pagila
5 rows affected.

[(16050, 269, 2, 7, Decimal('1.99'), datetime.datetime(2017, 1, 24, 21, 40, 19, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (16051, 269, 1, 98, Decimal('0.99'), datetime.datetime(2017, 1, 25, 15, 16, 50, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (16052, 269, 2, 678, Decimal('6.99'), datetime.datetime(2017, 1, 28, 21, 44, 14, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (16053, 269, 2, 703, Decimal('0.99'), datetime.datetime(2017, 1, 29, 0, 58, 2, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (16054, 269, 1, 750, Decimal('4.99'), datetime.datetime(2017, 1, 29, 8, 10, 6, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

### 2.2.3 Inventory

In [142]:
%%sql
select * from inventory limit 5;

 * postgresql://postgres:***@db:5432/pagila
5 rows affected.

[(1, 1, 1, datetime.datetime(2017, 2, 15, 10, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (2, 1, 1, datetime.datetime(2017, 2, 15, 10, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (3, 1, 1, datetime.datetime(2017, 2, 15, 10, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (4, 1, 1, datetime.datetime(2017, 2, 15, 10, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (5, 1, 2, datetime.datetime(2017, 2, 15, 10, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

###  2.2.4 Joining `payment`, `rental`, `inventory`, `film`

In [149]:
%%sql
SELECT f.title, p.amount, p.payment_date, p.customer_id                                            
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
limit 5;

 * postgresql://postgres:***@db:5432/pagila
5 rows affected.

[('SWARM GOLD', Decimal('1.99'), datetime.datetime(2017, 1, 24, 21, 40, 19, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 269),
 ('PACKER MADIGAN', Decimal('0.99'), datetime.datetime(2017, 1, 25, 15, 16, 50, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 269),
 ('SOMETHING DUCK', Decimal('6.99'), datetime.datetime(2017, 1, 28, 21, 44, 14, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 269),
 ('DRACULA CRYSTAL', Decimal('0.99'), datetime.datetime(2017, 1, 29, 0, 58, 2, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 269),
 ('CLOSER BANG', Decimal('4.99'), datetime.datetime(2017, 1, 29, 8, 10, 6, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 269)]

### 2.2.5 Computing movie rental revenue

In [152]:
%%sql
SELECT f.title, sum(p.amount) as revenue                                            
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
GROUP BY title
ORDER BY revenue desc
limit 10;

 * postgresql://postgres:***@db:5432/pagila
10 rows affected.

[('TELEGRAPH VOYAGE', Decimal('231.73')),
 ('WIFE TURN', Decimal('223.69')),
 ('ZORRO ARK', Decimal('214.69')),
 ('GOODFELLAS SALUTE', Decimal('209.69')),
 ('SATURDAY LAMBS', Decimal('204.72')),
 ('TITANS JERK', Decimal('201.71')),
 ('TORQUE BOUND', Decimal('198.72')),
 ('HARRY IDAHO', Decimal('195.70')),
 ('INNOCENT USUAL', Decimal('191.74')),
 ('HUSTLER PARTY', Decimal('190.78'))]

## 2.3 Insight 2:   Top grossing cities 
- Payments amounts are in table `payment`
- Movies are in table `film`
- They are not directly linked, `payment` refers to a `rental`, `rental` refers to an `inventory` item and `inventory` item refers to a `film`

### 2.3.1 Get the city of each payment

In [208]:
%%sql
SELECT p.customer_id, p.rental_id, p.amount, ci.city                            
FROM payment p
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
order by p.payment_date
limit 10;

 * postgresql://postgres:***@db:5432/pagila
10 rows affected.

[(130, 1, Decimal('2.99'), 'guas Lindas de Gois'),
 (459, 2, Decimal('2.99'), 'Qomsheh'),
 (408, 3, Decimal('3.99'), 'Jaffna'),
 (333, 4, Decimal('4.99'), 'Baku'),
 (222, 5, Decimal('6.99'), 'Jaroslavl'),
 (549, 6, Decimal('0.99'), 'Santiago de Compostela'),
 (269, 7, Decimal('1.99'), 'Salinas'),
 (239, 8, Decimal('4.99'), 'Ciomas'),
 (126, 9, Decimal('4.99'), 'Po'),
 (399, 10, Decimal('5.99'), 'Okara')]

### 2.3.2 Top grossing cities

In [209]:
%%sql
SELECT ci.city ,  sum(p.amount) as revenue
FROM payment p
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
group by ci.city
order by revenue desc
limit 10;

 * postgresql://postgres:***@db:5432/pagila
10 rows affected.

[('Cape Coral', Decimal('221.55')),
 ('Saint-Denis', Decimal('216.54')),
 ('Aurora', Decimal('198.50')),
 ('Molodetno', Decimal('195.58')),
 ('Santa Brbara dOeste', Decimal('194.61')),
 ('Apeldoorn', Decimal('194.61')),
 ('Qomsheh', Decimal('186.62')),
 ('London', Decimal('180.52')),
 ('Ourense (Orense)', Decimal('177.60')),
 ('Bijapur', Decimal('175.61'))]

## Insight 3 : Revenue of a movie by city and by quarter

### 3.1 Revenue of each movie by district and by quarter

In [214]:
%%sql
SELECT f.title, p.amount, p.customer_id, ci.city, p.payment_date,EXTRACT(year FROM p.payment_date) as quarter
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
order by p.payment_date
limit 10;

 * postgresql://postgres:***@db:5432/pagila
10 rows affected.

[('BLANKET BEVERLY', Decimal('2.99'), 130, 'guas Lindas de Gois', datetime.datetime(2017, 1, 24, 21, 21, 56, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2017.0),
 ('FREAKY POCUS', Decimal('2.99'), 459, 'Qomsheh', datetime.datetime(2017, 1, 24, 21, 22, 59, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2017.0),
 ('GRADUATE LORD', Decimal('3.99'), 408, 'Jaffna', datetime.datetime(2017, 1, 24, 21, 32, 5, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2017.0),
 ('LOVE SUICIDES', Decimal('4.99'), 333, 'Baku', datetime.datetime(2017, 1, 24, 21, 33, 7, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2017.0),
 ('IDOLS SNATCHERS', Decimal('6.99'), 222, 'Jaroslavl', datetime.datetime(2017, 1, 24, 21, 33, 47, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2017.0),
 ('MYSTIC TRUMAN', Decimal('0.99'), 549, 'Santiago de Compostela', datetime.datetime(2017, 1, 24, 21, 36, 33, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2017.0),
 ('SWARM GOLD', Decimal('1.99'), 269, 'Salinas', datetime.datetime(2017, 1, 24, 21, 40, 19, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2017.0),
 ('LAWLESS VISION', Decimal('4.99'), 239, 'Ciomas', datetime.datetime(2017, 1, 24, 22, 0, 12, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2017.0),
 ('MATRIX SNOWMAN', Decimal('4.99'), 126, 'Po', datetime.datetime(2017, 1, 24, 22, 29, 6, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2017.0),
 ('HANGING DEEP', Decimal('5.99'), 399, 'Okara', datetime.datetime(2017, 1, 24, 22, 30, 47, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2017.0)]

In [218]:
%%time
%%sql
SELECT f.title, ci.city, sum(p.amount) as revenue
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
group by (f.title, ci.city)
order by revenue desc

limit 200;

 * postgresql://postgres:***@db:5432/pagila
200 rows affected.
CPU times: user 0 ns, sys: 10 ms, total: 10 ms
Wall time: 57.5 ms

[('CALIFORNIA BIRDS', 'Plock', Decimal('18.98')),
 ('MINDS TRUMAN', 'Probolinggo', Decimal('18.98')),
 ('ROSES TREASURE', 'Kamyin', Decimal('17.98')),
 ('WIFE TURN', 'Santa Brbara dOeste', Decimal('17.98')),
 ('CARIBBEAN LIBERTY', 'Ibirit', Decimal('16.98')),
 ('EAGLES PANKY', 'Datong', Decimal('16.98')),
 ('WHISPERER GIANT', 'Bijapur', Decimal('16.98')),
 ('WIFE TURN', 'Dundee', Decimal('15.98')),
 ('ZORRO ARK', 'Huixquilucan', Decimal('15.98')),
 ('WITCHES PANIC', 'Meixian', Decimal('15.98')),
 ('LUST LOCK', 'Coatzacoalcos', Decimal('15.98')),
 ('AMERICAN CIRCUS', 'Juazeiro do Norte', Decimal('14.98')),
 ('LOLA AGENT', 'Bucuresti', Decimal('14.98')),
 ('MIDSUMMER GROUNDHOG', 'Braslia', Decimal('14.98')),
 ('STRANGERS GRAFFITI', 'Yangor', Decimal('14.98')),
 ('WHISPERER GIANT', 'Halle/Saale', Decimal('14.98')),
 ('MOONSHINE CABIN', 'Balaiha', Decimal('14.98')),
 ('JEKYLL FROGMEN', 'Qinhuangdao', Decimal('13.98')),
 ('BREAKFAST GOLDFINGER', 'Ife', Decimal('13.98')),
 ('YENTL IDAHO', 'Kaduna', Decimal('13.98')),
 ('STREETCAR INTENTIONS', 'Atlixco', Decimal('13.98')),
 ('STAGECOACH ARMAGEDDON', 'Patiala', Decimal('13.98')),
 ('STEEL SANTA', 'Baiyin', Decimal('13.98')),
 ('EASY GLADIATOR', 'San Felipe del Progreso', Decimal('13.98')),
 ('STREETCAR INTENTIONS', 'Memphis', Decimal('13.98')),
 ('INNOCENT USUAL', 'Valparai', Decimal('13.98')),
 ('SUNRISE LEAGUE', 'Kisumu', Decimal('13.98')),
 ('DAUGHTER MADIGAN', 'Jining', Decimal('13.98')),
 ('VIDEOTAPE ARSENIC', 'Nador', Decimal('12.98')),
 ('ROCKETEER MOTHER', 'Maring', Decimal('12.98')),
 ('FELLOWSHIP AUTUMN', 'Balikesir', Decimal('12.98')),
 ('TITANIC BOONDOCK', 'Sumqayit', Decimal('12.98')),
 ('VIRGIN DAISY', 'Cam Ranh', Decimal('12.98')),
 ('SUIT WALLS', 'Coatzacoalcos', Decimal('12.98')),
 ('DURHAM PANKY', 'Mit Ghamr', Decimal('12.98')),
 ('SLEEPLESS MONSOON', 'Fuyu', Decimal('12.98')),
 ('KNOCK WARLOCK', 'Benguela', Decimal('12.98')),
 ('FLATLINERS KILLER', 'Trshavn', Decimal('12.97')),
 ('STING PERSONAL', 'Belm', Decimal('11.99')),
 ('SHOW LORD', 'Mannheim', Decimal('11.99')),
 ('TRAP GUYS', 'Usak', Decimal('11.99')),
 ('TIES HUNGER', 'Naju', Decimal('11.99')),
 ('SCORPION APOLLO', 'Osmaniye', Decimal('11.99')),
 ('MINE TITANS', 'Juiz de Fora', Decimal('11.99')),
 ('SCORPION APOLLO', 'Siegen', Decimal('11.99')),
 ('MIDSUMMER GROUNDHOG', 'Szkesfehrvr', Decimal('11.99')),
 ('VIRTUAL SPOILERS', 'Arlington', Decimal('11.99')),
 ('FLINTSTONES HAPPINESS', 'Pemalang', Decimal('11.99')),
 ('JERK PAYCHECK', 'Botshabelo', Decimal('11.98')),
 ('WONDERLAND CHRISTMAS', 'Laohekou', Decimal('11.98')),
 ('WIFE TURN', 'Sorocaba', Decimal('11.98')),
 ('JET NEIGHBORS', 'Uluberia', Decimal('11.98')),
 ('BUCKET BROTHERHOOD', 'Memphis', Decimal('11.98')),
 ('ORIENT CLOSER', 'Lima', Decimal('11.98')),
 ('GRINCH MASSAGE', 'Bhilwara', Decimal('11.98')),
 ('EYES DRIVING', 'Baha Blanca', Decimal('11.98')),
 ('MODEL FISH', 'Brindisi', Decimal('11.98')),
 ('CHICAGO NORTH', 'Cuauhtmoc', Decimal('11.98')),
 ('SEABISCUIT PUNK', 'Shubra al-Khayma', Decimal('11.98')),
 ('WASH HEAVENLY', 'Gandhinagar', Decimal('11.98')),
 ('BEHAVIOR RUNAWAY', 'Battambang', Decimal('10.99')),
 ('SATURDAY LAMBS', 'Brockton', Decimal('10.99')),
 ('WONDERLAND CHRISTMAS', 'Hodeida', Decimal('10.99')),
 ('ZORRO ARK', 'Batna', Decimal('10.99')),
 ('STING PERSONAL', 'Kuwana', Decimal('10.99')),
 ('ISHTAR ROCKETEER', 'Ozamis', Decimal('10.99')),
 ('DOORS PRESIDENT', 'Zhoushan', Decimal('10.99')),
 ('TEEN APOLLO', 'Liaocheng', Decimal('10.99')),
 ('WIFE TURN', 'Kaliningrad', Decimal('10.99')),
 ('FLINTSTONES HAPPINESS', 'Alessandria', Decimal('10.99')),
 ('KING EVOLUTION', 'Garland', Decimal('10.99')),
 ('KISSING DOLLS', 'Kakamigahara', Decimal('10.99')),
 ('TELEGRAPH VOYAGE', 'Naala-Porto', Decimal('10.99')),
 ('KISSING DOLLS', 'Rae Bareli', Decimal('10.99')),
 ('PANIC CLUB', 'Songkhla', Decimal('10.99')),
 ('KISSING DOLLS', 'Toulon', Decimal('10.99')),
 ('TORQUE BOUND', 'Kermanshah', Decimal('10.99')),
 ('STING PERSONAL', 'Ourense (Orense)', Decimal('10.99')),
 ('SHOW LORD', 'Richmond Hill', Decimal('10.99')),
 ('INNOCENT USUAL', 'Purnea (Purnia)', Decimal('10.99')),
 ('TITANIC BOONDOCK', 'San Lorenzo', Decimal('10.99')),
 ('TYCOON GATHERING', 'Zaria', Decimal('10.99')),
 ('TORQUE BOUND', 'Gorontalo', Decimal('10.99')),
 ('FLINTSTONES HAPPINESS', 'Qomsheh', Decimal('10.99')),
 ('KISSING DOLLS', 'Kowloon and New Kowloon', Decimal('10.99')),
 ('AMERICAN CIRCUS', 'Konotop', Decimal('10.99')),
 ('BILKO ANONYMOUS', 'Stockport', Decimal('10.99')),
 ('HUSTLER PARTY', 'Clarksville', Decimal('10.99')),
 ('SATURDAY LAMBS', 'Zhezqazghan', Decimal('10.99')),
 ('TITANIC BOONDOCK', 'Adoni', Decimal('10.99')),
 ('KING EVOLUTION', 'Nha Trang', Decimal('10.99')),
 ('CARIBBEAN LIBERTY', 'Halisahar', Decimal('10.99')),
 ('SUNRISE LEAGUE', 'Rampur', Decimal('10.99')),
 ('MAIDEN HOME', 'Duisburg', Decimal('10.99')),
 ('VIRTUAL SPOILERS', 'Zhoushan', Decimal('10.99')),
 ('TELEGRAPH VOYAGE', 'Pangkal Pinang', Decimal('10.99')),
 ('FLASH WARS', 'San Felipe de Puerto Plata', Decimal('10.99')),
 ('MINDS TRUMAN', 'Cavite', Decimal('10.99')),
 ('RANGE MOONWALKER', 'Bellevue', Decimal('10.99')),
 ('TELEGRAPH VOYAGE', 'Santa F', Decimal('10.99')),
 ('SATISFACTION CONFIDENTIAL', 'Suihua', Decimal('10.99')),
 ('FOOL MOCKINGBIRD', 'Sincelejo', Decimal('10.99')),
 ('SATURDAY LAMBS', 'Ashgabat', Decimal('10.99')),
 ('SECRETS PARADISE', 'Yantai', Decimal('10.99')),
 ('TORQUE BOUND', 'Hubli-Dharwad', Decimal('10.99')),
 ('HUSTLER PARTY', 'Uijongbu', Decimal('10.99')),
 ('TRAP GUYS', 'Tangail', Decimal('10.99')),
 ('PINOCCHIO SIMON', 'Shimonoseki', Decimal('10.99')),
 ('FLINTSTONES HAPPINESS', 'Baku', Decimal('10.99')),
 ('CASUALTIES ENCINO', 'Warren', Decimal('10.99')),
 ('BILKO ANONYMOUS', 'Angra dos Reis', Decimal('10.99')),
 ('TELEGRAPH VOYAGE', 'Datong', Decimal('10.99')),
 ('AUTUMN CROW', 'Stockport', Decimal('10.99')),
 ('TRAP GUYS', 'Qomsheh', Decimal('10.99')),
 ('WIFE TURN', 'Antofagasta', Decimal('10.99')),
 ('PATHS CONTROL', 'Yamuna Nagar', Decimal('10.99')),
 ('SUIT WALLS', 'Daugavpils', Decimal('10.99')),
 ('MINE TITANS', 'Jinzhou', Decimal('10.99')),
 ('TEEN APOLLO', 'San Bernardino', Decimal('10.99')),
 ('CASUALTIES ENCINO', 'Athenai', Decimal('10.99')),
 ('STRANGER STRANGERS', 'Czestochowa', Decimal('10.99')),
 ('BILKO ANONYMOUS', 'Iwakuni', Decimal('10.99')),
 ('MINE TITANS', 'Plock', Decimal('10.99')),
 ('BEHAVIOR RUNAWAY', 'Xintai', Decimal('10.99')),
 ('TELEGRAPH VOYAGE', 'Sumy', Decimal('10.99')),
 ('AMERICAN CIRCUS', 'Saint-Denis', Decimal('10.99')),
 ('BEAST HUNCHBACK', 'Guadalajara', Decimal('10.99')),
 ('TEEN APOLLO', 'Parbhani', Decimal('10.99')),
 ('FOOL MOCKINGBIRD', 'Hodeida', Decimal('10.99')),
 ('BEAST HUNCHBACK', 'Omiya', Decimal('10.99')),
 ('TYCOON GATHERING', 'Mannheim', Decimal('10.99')),
 ('TELEGRAPH VOYAGE', 'Sokoto', Decimal('10.99')),
 ('TYCOON GATHERING', 'So Bernardo do Campo', Decimal('10.99')),
 ('INNOCENT USUAL', 'Florencia', Decimal('10.99')),
 ('MINDS TRUMAN', 'Saint-Denis', Decimal('10.99')),
 ('MINE TITANS', 'Jedda', Decimal('10.99')),
 ('BRIGHT ENCOUNTERS', 'Allende', Decimal('10.99')),
 ('WIFE TURN', 'Ahmadnagar', Decimal('10.99')),
 ('AMERICAN CIRCUS', 'Callao', Decimal('10.99')),
 ('BILKO ANONYMOUS', 'Bhimavaram', Decimal('10.99')),
 ('NIGHTMARE CHILL', 'El Monte', Decimal('10.99')),
 ('RANGE MOONWALKER', 'Smolensk', Decimal('10.99')),
 ('MAIDEN HOME', 'Purnea (Purnia)', Decimal('10.99')),
 ('BACKLASH UNDEFEATED', 'Blumenau', Decimal('10.99')),
 ('SUNRISE LEAGUE', 'Mwanza', Decimal('10.99')),
 ('AMERICAN CIRCUS', 'Bijapur', Decimal('10.99')),
 ('HUSTLER PARTY', 'Erlangen', Decimal('10.99')),
 ('SATURDAY LAMBS', 'Wroclaw', Decimal('10.99')),
 ('MINE TITANS', 'Zanzibar', Decimal('10.99')),
 ('CARIBBEAN LIBERTY', 'Cabuyao', Decimal('10.99')),
 ('GARDEN ISLAND', 'Hunuco', Decimal('10.99')),
 ('VIRTUAL SPOILERS', 'Pavlodar', Decimal('10.99')),
 ('TORQUE BOUND', 'Sharja', Decimal('10.99')),
 ('MIDSUMMER GROUNDHOG', 'Omdurman', Decimal('10.99')),
 ('VIRTUAL SPOILERS', 'Syrakusa', Decimal('10.99')),
 ('TYCOON GATHERING', 'Serpuhov', Decimal('10.99')),
 ('SATURDAY LAMBS', 'Tychy', Decimal('10.99')),
 ('FOOL MOCKINGBIRD', 'Cape Coral', Decimal('10.99')),
 ('DAUGHTER MADIGAN', 'Ogbomosho', Decimal('10.99')),
 ('SUIT WALLS', 'Jinchang', Decimal('10.99')),
 ('CARIBBEAN LIBERTY', 'Rockford', Decimal('10.99')),
 ('LIAISONS SWEET', 'Wroclaw', Decimal('10.98')),
 ('TITANS JERK', 'Birgunj', Decimal('10.98')),
 ('TRIP NEWTON', 'Mosul', Decimal('10.98')),
 ('JET NEIGHBORS', 'Imus', Decimal('10.98')),
 ('FLYING HOOK', 'Mannheim', Decimal('10.98')),
 ('CENTER DINOSAUR', 'Haining', Decimal('10.98')),
 ('CAMPUS REMEMBER', 'Tambaram', Decimal('10.98')),
 ('COLDBLOODED DARLING', 'Miraj', Decimal('10.98')),
 ('PRINCESS GIANT', 'Kimchon', Decimal('10.98')),
 ('BOOGIE AMELIE', 'Udine', Decimal('10.98')),
 ('MEMENTO ZOOLANDER', 'Tiefa', Decimal('10.98')),
 ('MASSACRE USUAL', 'Kitwe', Decimal('10.98')),
 ('FELLOWSHIP AUTUMN', 'Juazeiro do Norte', Decimal('10.98')),
 ('SLACKER LIAISONS', 'Juiz de Fora', Decimal('10.98')),
 ('COMMAND DARLING', 'Jalib al-Shuyukh', Decimal('10.98')),
 ('WAIT CIDER', 'Iwakuni', Decimal('10.98')),
 ('SHOW LORD', 'Nador', Decimal('9.99')),
 ('DARKO DORADO', 'Vaduz', Decimal('9.99')),
 ('PANKY SUBMARINE', 'Mukateve', Decimal('9.99')),
 ('STING PERSONAL', 'Qinhuangdao', Decimal('9.99')),
 ('DARKO DORADO', 'Pontianak', Decimal('9.99')),
 ('SECRETS PARADISE', 'Jinzhou', Decimal('9.99')),
 ('CONQUERER NUTS', 'Zanzibar', Decimal('9.99')),
 ('BACKLASH UNDEFEATED', 'Loja', Decimal('9.99')),
 ('ZORRO ARK', 'Qomsheh', Decimal('9.99')),
 ('RANGE MOONWALKER', 'Qomsheh', Decimal('9.99')),
 ('ALI FOREVER', 'Ourense (Orense)', Decimal('9.99')),
 ('CONNECTICUT TRAMP', 'Citt del Vaticano', Decimal('9.99')),
 ('TITANS JERK', 'Kimberley', Decimal('9.99')),
 ('ROAD ROXANNE', 'Brescia', Decimal('9.99')),
 ('FLINTSTONES HAPPINESS', 'Hanoi', Decimal('9.99')),
 ('HEAD STRANGER', 'Cabuyao', Decimal('9.99')),
 ('FLASH WARS', 'Mahajanga', Decimal('9.99')),
 ('CONQUERER NUTS', 'Erlangen', Decimal('9.99')),
 ('MILLION ACE', 'Tianjin', Decimal('9.99')),
 ('GALAXY SWEETHEARTS', 'Sumy', Decimal('9.99')),
 ('TELEGRAPH VOYAGE', 'Arecibo', Decimal('9.99')),
 ('CASUALTIES ENCINO', 'Baiyin', Decimal('9.99')),
 ('LADY STAGE', 'Ipoh', Decimal('9.99'))]

# STEP3 : Creating Facts & Dimensions

In [196]:
%%sql
show table status

 * postgresql://postgres:***@db:5432/pagila
(psycopg2.ProgrammingError) syntax error at or near "table"
LINE 1: show table status
             ^
 [SQL: 'show table status'] (Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
%%sql
CREATE TABLE dimDate
(
  date_key integer NOT NULL PRIMARY KEY,
  date date NOT NULL,
  year smallint NOT NULL,
  quarter smallint NOT NULL,
  month smallint NOT NULL,
  day smallint NOT NULL,
  week smallint NOT NULL,
  is_weekend boolean
);

CREATE TABLE dimCustomer
(
  customer_key SERIAL PRIMARY KEY,
  customer_id  smallint NOT NULL,
  first_name   varchar(45) NOT NULL,
  last_name    varchar(45) NOT NULL,
  email        varchar(50),
  address      varchar(50) NOT NULL,
  address2     varchar(50),
  district     varchar(20) NOT NULL,
  city         varchar(50) NOT NULL,
  country      varchar(50) NOT NULL,
  postal_code  varchar(10),
  phone        varchar(20) NOT NULL,
  active       smallint NOT NULL,
  create_date  timestamp NOT NULL,
  start_date   date NOT NULL,
  end_date     date NOT NULL
);

CREATE TABLE dimMovie
(
  movie_key          SERIAL PRIMARY KEY,
  film_id            smallint NOT NULL,
  title              varchar(255) NOT NULL,
  description        text,
  release_year       year,
  language           varchar(20) NOT NULL,
  original_language  varchar(20),
  rental_duration    smallint NOT NULL,
  length             smallint NOT NULL,
  rating             varchar(5) NOT NULL,
  special_features   varchar(60) NOT NULL
);
CREATE TABLE dimStore
(
  store_key           SERIAL PRIMARY KEY,
  store_id            smallint NOT NULL,
  address             varchar(50) NOT NULL,
  address2            varchar(50),
  district            varchar(20) NOT NULL,
  city                varchar(50) NOT NULL,
  country             varchar(50) NOT NULL,
  postal_code         varchar(10),
  manager_first_name  varchar(45) NOT NULL,
  manager_last_name   varchar(45) NOT NULL,
  start_date          date NOT NULL,
  end_date            date NOT NULL
);
CREATE TABLE factSales
(
  sales_key        SERIAL PRIMARY KEY,
  date_key         INT NOT NULL REFERENCES dimDate(date_key),
  customer_key     INT NOT NULL REFERENCES dimCustomer(customer_key),
  movie_key        INT NOT NULL REFERENCES dimMovie(movie_key),
  store_key        INT NOT NULL REFERENCES dimStore(store_key),
  sales_amount     decimal(5,2) NOT NULL
);

# STEP4: ETL the data from 3NF tables to Facts & Dimension Tables

In [ ]:
%%sql
INSERT INTO dimDate (date_key, date, year, quarter, month, day, week, is_weekend)
SELECT DISTINCT(TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::integer) AS date_key,
       date(payment_date)                                           AS date,
       EXTRACT(year FROM payment_date)                              AS year,
       EXTRACT(quarter FROM payment_date)                           AS quarter,
       EXTRACT(month FROM payment_date)                             AS month,
       EXTRACT(day FROM payment_date)                               AS day,
       EXTRACT(week FROM payment_date)                              AS week,
       CASE WHEN EXTRACT(ISODOW FROM payment_date) IN (6, 7) THEN true ELSE false END AS is_weekend
FROM payment;


INSERT INTO dimCustomer (customer_key, customer_id, first_name, last_name, email, address, address2, district, city, country, postal_code, phone, active, create_date, start_date, end_date)
SELECT c.customer_id AS customer_key,
       c.customer_id,
       c.first_name,
       c.last_name,
       c.email,
       a.address,
       a.address2,
       a.district,
       ci.city,
       co.country,
       postal_code,
       a.phone,
       c.active,
       c.create_date,
       now()         AS start_date,
       now()         AS end_date
FROM customer c
JOIN address a  ON (c.address_id = a.address_id)
JOIN city ci    ON (a.city_id = ci.city_id)
JOIN country co ON (ci.country_id = co.country_id);

INSERT INTO dimMovie (movie_key, film_id, title, description, release_year, language, original_language, rental_duration, length, rating, special_features)
SELECT f.film_id      AS movie_key,
       f.film_id,
       f.title,
       f.description,
       f.release_year,
       l.name         AS language,
       orig_lang.name AS original_language,
       f.rental_duration,
       f.length,
       f.rating,
       f.special_features
FROM film f
JOIN language l              ON (f.language_id=l.language_id)
LEFT JOIN language orig_lang ON (f.original_language_id = orig_lang.language_id);

INSERT INTO dimStore (store_key, store_id, address, address2, district, city, country, postal_code, manager_first_name, manager_last_name, start_date, end_date)
SELECT s.store_id    AS store_key,
       s.store_id,
       a.address,
       a.address2,
       a.district,
       c.city,
       co.country,
       a.postal_code,
       st.first_name AS manager_first_name,
       st.last_name  AS manager_last_name,
       now()         AS start_date,
       now()         AS end_date
FROM store s
JOIN staff st   ON (s.manager_staff_id = st.staff_id)
JOIN address a  ON (s.address_id = a.address_id)
JOIN city c     ON (a.city_id = c.city_id)
JOIN country co ON (c.country_id = co.country_id);

INSERT INTO factSales (date_key, customer_key, movie_key, store_key, sales_amount)
SELECT TO_CHAR(p.payment_date :: DATE, 'yyyyMMDD')::integer AS date_key ,
       p.customer_id                                        AS customer_key,
       i.film_id                                            AS movie_key,
       i.store_id                                           AS store_key,
       p.amount                                             AS sales_amount
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id );

In [44]:
%%sql
select * 
from  factSales, dimMovie 
where factSales.movie_key = dimMovie.film_id
limit 5;

 * postgresql://postgres:***@db:5432/pagila
5 rows affected.

[(1, 20170124, 269, 870, 2, Decimal('1.99'), 870, 870, 'SWARM GOLD', 'A Insightful Panorama of a Crocodile And a Boat who must Conquer a Sumo Wrestler in A MySQL Convention', 2006, 'English', None, 4, 123, 'PG-13', '{Trailers,Commentaries}'),
 (2, 20170125, 269, 651, 1, Decimal('0.99'), 651, 651, 'PACKER MADIGAN', 'A Epic Display of a Sumo Wrestler And a Forensic Psychologist who must Build a Woman in An Abandoned Amusement Park', 2006, 'English', None, 3, 84, 'PG-13', '{Trailers}'),
 (3, 20170128, 269, 818, 1, Decimal('6.99'), 818, 818, 'SOMETHING DUCK', 'A Boring Character Study of a Car And a Husband who must Outgun a Frisbee in The First Manned Space Station', 2006, 'English', None, 4, 180, 'NC-17', '{Commentaries,"Behind the Scenes"}'),
 (4, 20170129, 269, 249, 2, Decimal('0.99'), 249, 249, 'DRACULA CRYSTAL', 'A Thrilling Reflection of a Feminist And a Cat who must Find a Frisbee in An Abandoned Fun House', 2006, 'English', None, 7, 176, 'G', '{Commentaries}'),
 (5, 20170129, 269, 159, 2, Decimal('4.99'), 159, 159, 'CLOSER BANG', 'A Unbelieveable Panorama of a Frisbee And a Hunter who must Vanquish a Monkey in Ancient India', 2006, 'English', None, 5, 58, 'R', '{Trailers,"Behind the Scenes"}')]

In [ ]:
Cube using the fact table
SELECT date_key, customer_key, movie_key, store_key,
       COUNT(*),
       SUM(sales_amount) AS sales_amount
FROM factSales
GROUP BY CUBE(date_key, customer_key, movie_key, store_key);